/* Give text in tables some breathing room */
table {
	line-height: 1.5;
}

/* Make the table headers more defined */
.tablepress thead th {
	background-color: rgb(8,92,119);
	color: #fff;
	border: 0;
	font-weight: normal;
}

/* Add some space around the contents of each cell */
.tablepress td,
.tablepress th {
	padding: 16px;
	border: 0;
}

/* Remove unwanted borders */
.tablepress tbody td,
.tablepress tfoot th {
	border: 0;
}

/* Stripe odd rows with an ORCID-approved light green */
.tablepress .odd td {
	background-color: rgb(245,249,232);
}